.container-quote {
  display: flex;
  margin-top: 20px;
  justify-content: end;
}

.container-quote .quote {
  width: 800px;
  height: 100px;
  margin-right: 100px;
  text-align: center;
}

.container-quote .quote h1 {
  color: red;
}

.container-quote .quote h2 {
  color: #6d4949;
}
